
.section{
height: 100vh;
    width: 50vw;
    /* border-style: solid ;
    border-color: black; */
    word-wrap: break-word;
    justify-content: center;
    padding: 50px;
}
article{
    background-color: brown;
    justify-content: center;
}
.backUp{
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 1;
}