.App{
  background-color: black;
  border-style: solid;
  border-color: black;
  height: 100vh;
}
.enterBtn{
 justify-content: center;
 position: fixed;
 top: 40vh;
 left: 45vw;
 background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color:rgb(194, 107, 76);
}
.greeting{
  /* top: 60%;
  left: 42%;
  position: fixed;
  text-align: center;
  border-style: solid;
  border-color: white; */
   /* top: 30%;
   left: 42.5%;
   
    z-index: 1;
    position: fixed; */
}
.bulb{
  /* height: 50%; */
  /* width: 50wh;
  position: fixed;
  object-fit: fill;
  left:25%;
  justify-content: center; */
  /* border-style: solid;
  border-color: white; */
  height: 60vh;
}
.welcome{
  justify-content: center;
    color: white;
    text-align: center;
   /* border-style: solid;
  border-color: white; */
}
.welcome{
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    color: black;
    opacity:0;
  }
  100% {
    color: white;
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
